* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --black-primary: #181719;
    --white: #fff;
    --gray: #828282;
}

body {
    background-color: var(--black-primary);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 200,
        'opsz' 48
}

/*
Menu
*/

.menu {
    position: relative;
    padding: 44px 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand--menu {
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
}

.brand--menu>span {
    display: block;
    padding: 8px;
    border: solid 1px;
    border-color: var(--white);
}

.menu--desplegable {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.list--nav {
    font-weight: 500;
    font-size: 18px;
    padding: 8px;
}

.link--menu {
    color: var(--white);
}

.link--menu:hover {
    color: #d9d9d9;
}

.active {
    font-weight: 700;
    border-bottom: solid 2px var(--white);
}

.active:hover {

    border-bottom: solid 2px #d9d9d9;
}




/*content*/
.content {
    padding: 150px 77px;
}

.content--main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.main--text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.main--text>h1 {
    font-family: 'Lora', serif;
    font-size: 48px;
    font-weight: 500;
}

.main--text>p {
    font-size: 24px;
    line-height: 29px;
    width: 410px;
    font-weight: normal;
}

/* action section */

.main--action {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
}
.main--illustration{
    position: relative;
}
/*img*/
.main--img {
    width: 821.11px;
    height: 586.53px;
}

/*info card*/
.card {
    padding: 10px 25px;
    width: 410px;
    height: 189px;
    position: absolute;
    bottom: -100px;
    right: 50px;
    background-color: var(--black-primary);
}

.card--content {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.card--profile {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}

.profile--image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.info--profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info--profile p:nth-child(1) {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.info--profile p:nth-child(2) {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--gray);
}

.card--text>p {
    width:287px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}